@mixin width-maxer {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ellipsis-1line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
