@use "../core/variables" as *;
@use "../core/mixins" as *;

.site-header {
  background-color: $bg-primary;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3.2rem;
    border-bottom: 1px solid $border-default;

    @include width-maxer;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: $text-primary;
    font-weight: 600;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__logo-text {
    font-size: $font-size-lg;
    font-weight: 600;
    color: $text-primary;
  }

  &__nav {
    display: flex;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__nav-item {
    display: flex;
  }

  &__nav-link {
    text-decoration: none;
    color: $text-primary;
    font-size: $font-size-md;
    font-weight: 400;
    padding: 0.5rem 0;
    transition: color 0.2s ease;
    position: relative;
    border-radius: 1rem;
    padding: 0.8rem;

    &--signin {
      background-color: $bg-button;
      color: $text-primary;
      border: 1px solid #767676;
      padding: 0.8rem 1.6rem;
      font-weight: 500;
      border-radius: 1rem;
    }

    &--register {
      background-color: $bg-brand;
      color: $text-on-brand;
      padding: 0.8rem 1.6rem;
      border-radius: 1rem;
      font-weight: 500;
      transition: all 0.2s ease;
      border: 1.25px solid #2c2c2c;
      &:hover {
        background-color: $text-on-brand;
        color: $text-primary;
        border: 1.25px solid #767676;
      }
    }
    &:hover {
      background-color: $text-on-brand;
    }

    &.active {
      background-color: $text-on-brand;
    }

    &--signin:hover,
    &--register:hover {
      color: unset;
    }
  }

  @media (max-width: 768px) {
    &__container {
      padding: 1rem;
    }

    &__nav-list {
      gap: 1rem;
    }

    &__logo-text {
      font-size: $font-size-md;
    }

    &__nav-link {
      font-size: 1.4rem;
    }
  }

  @media (max-width: 480px) {
    &__nav-list {
      gap: 0.5rem;
    }

    &__nav-link {
      font-size: 1.3rem;

      &--register {
        padding: 0.6rem 1.2rem;
        font-size: 1.3rem;
      }
    }
  }
}
